<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Registros Civiles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesConsulta.css') }}">
    <link type='image/x-icon' rel='shortcut icon' href="{{ url_for('static', filename='img/favicon.ico') }}" />
</head>
<body>
    <div class="container">
        <div class="navbar deskheader">
            <div class="container-fluid">
                <a class="navbar-brand logoregistraduria" target="_blank" href="https://www.registraduria.gov.co/"></a>
                <h1 class="ml-3 mb-0">Consulta De Registros Civiles</h1>
            </div>
        </div>
    </div>

    <h3 class="text-center">SISTEMA DE CONSULTAS Y CERTIFICADOS DE REGISTROS CIVILES</h3>

    {% if resultados %}
        <div class="table-container">
            <h1 class="ml-3 mb-0">Información Basica</h1>
            {% for resultado in resultados %}
                <div class="vertical-table">
                    <table class="result-table">
                        <tr>
                            <td class="label">Tipo de Registro Civil:</td>
                            <td>Registro Civil De Nacimiento</td>
                        </tr>
                        <tr>
                            <td class="label">Serial del Registro Civil:</td>
                            <td>{{ resultado[1] }}</td>
                        </tr>
                        <tr>
                            <td class="label">Número de Identificación:</td>
                            <td>{{ resultado[2] }}</td>
                        </tr>
                        <tr>
                            <td class="label">Primer Apellido:</td>
                            <td>{{ resultado[3] }}</td>
                        </tr>
                        <tr>
                            <td class="label">Segundo Apellido:</td>
                            <td>{{ resultado[4] }}</td>
                        </tr>
                        <tr>
                            <td class="label">Primer Nombre:</td>
                            <td>{{ resultado[5] }}</td>
                        </tr>
                        <tr>
                            <td class="label">Segundo Nombre:</td>
                            <td>{{ resultado[6] }}</td>
                        </tr>
                        <tr>
                            <td class="label">Sexo:</td>
                            <td>{{ resultado[7] }}</td>
                        </tr>
                        <tr>
                            <td class="label">Fecha de Nacimiento:</td>
                            <td>{{ resultado[8] }}</td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No se encontraron resultados.</p>
    {% endif %}

    <!-- segundo formulario -->

    {% if resultados %}
        <div class="table-container">
            <h1 class="ml-3 mb-0">Información Del Registro Civil</h1>
            {% for resultado in resultados %}
                <div class="vertical-table">
                    <table class="result-table">
                        <tr>
                            <td class="label">Serial del Registro Civil:</td>
                            <td>{{ resultado[1] }}</td>
                        </tr>
                        <tr>
                            <td class="label">Número de Identificación:</td>
                            <td>{{ resultado[2] }}</td>
                        </tr>
                        <tr>
                            <td class="label">Fecha De Inscripción (dd-mm-aaaa):</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="label">Oficina De Registro:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="label">Tipo De Registro Civil:</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No se encontraron resultados.</p>
    {% endif %}

    <center><p><a href="{{url_for('index')}}" class="button">Volver al formulario</a></p></center>
    <center><p><a href="" class="button">Generar Certificado</a></p></center>
</body>

{% include 'footer.html' %}

</html>
